---
name: build
on:
  - pull_request
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install build-essential
        run: |
          apt-get install build-essential

      - name: Build
        run: |
          cd example/src
          make
