---
name: esphome
on:
  - pull_request
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install pipenv
        run: |
          pip install --user pipenv

      - name: Run pipenv
        run: |
          pipenv install

      - name: Prepare
        run: |
          mkdir config
          cp esphome-example/config/example.yaml config/
          cp esphome-example/config/secret.yaml config/
          mkdir config/include
          cd config/include
          ln -s ../../ aqi-c

      - name: Compile
        run: |
          pipenv run esphome compile config/example.yaml
